<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <ion-row *ngIf="changeView==true">
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" name="username" id="loginField" type="text" required [(ngModel)]="username" #email></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" name="password" id="passwordField" type="password" required [(ngModel)]="password"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="changeView==false">
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="nome" name="name" id="nome" type="text" required [(ngModel)]="nome"></ion-input>

          </ion-item>
          <ion-item>
            <ion-input placeholder="cognome" name="cognome" id="cognome" type="text" required [(ngModel)]="cognome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="email" name="email" id="email" type="email" required [(ngModel)]="emailReg"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="password" name="password" id="password" type="password" required [(ngModel)]="passwordReg"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button *ngIf="changeView==true" class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login
        </button>
        <button ion-button *ngIf="changeView==true" class="submit-btn" full type="submit" (click)="change()">Registrati
        </button>
        <button ion-button *ngIf="changeView==false" class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Completa Registrazione
        </button>
        <button ion-button *ngIf="changeView==false" class="submit-btn" full type="submit" (click)="change()">Torna al Login
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>