page-index {
    .colorRed{
        background-color: red; 
    }
    .colorGreen{
        background-color: green; 
    }
    .fullWidth{
        width:100%;
        height:200px;
    }
    .scroll-content{
        padding:0px !important;
    }
    .box{
        position:relative;
    }
    .innerBoxTopLeft{
        background-color: yellow;
        position:absolute;
        top:0;
        left:0;
    }
    .innerBoxBottomRight{
        background-color: yellow;
        position:absolute;
        bottom:0;
        right:0;
    }
    .innerBoxTopRight{
        background-color: yellow;
        position:absolute;
        top:0;
        right:0;
    }

}
